<h1>StaticPages#gallery</h1>
<p>Find me in app/views/static_pages/gallery.html.erb</p>

<ul class="thumbnails">
  <% @works.each do |w| %>
      <li class="span4">
        <div class="thumbnail">
          <div class="thumbnail_container">
            <a href='#'>
              <%= image_tag("#{w.title}.png", :alt => "#{w.title}") %>
            </a>
          </div>
          <h4><%= w.title %></h4>
          <p>Medium: <%= w.medium %></p>
          <p>Stock:
            <% if w.date_sold.nil? %>
              Out of stock
            <% else %>
              In stock
            <% end %>
          </p>
          <p>Price: $<%= w.asking_price %></p>
          <%= link_to 'Buy', '#', class: 'btn btn-primary' %>
          <%= link_to 'More', '#', class: 'btn' %>
        </div>
      </li>
  <% end %>

</ul>