<!--
  # Index page for artists
  #Chris Cruz, Muhammad Naviwala
  #Date Approved: 4/22/2013 by Chris Cruz & Muhammad Naviwala 
-->

<h1>Artists List</h1>

<table class = "table table-bordered table-striped">
  <tr>
	<th>Username</th>
	<th>Email</th>
	<th>First Name</th>
  	<th>Last Name</th>
  	<th>Street</th>
  	<th>City</th>
  	<th>State</th>
  	<th>Zip</th>
  	<th>Country</th>
  	<th>Phone Number</th>
    <th>Date of birth</th>
    <th>Date deceased</th>
	<th>Show</th>
	<th>Edit</th>
	<th>Destroy</th>
  </tr>

<% @artists.each do |artist| %>
  <tr>
  	<td><%= artist.username %></td>
  	<td><%= artist.email %></td> 
  	<td><%= artist.first_name %></td>     
  	<td><%= artist.last_name %></td>  
  	<td><%= artist.street %></td>  
  	<td><%= artist.city %></td>
  	<td><%= artist.state %></td>    
  	<td><%= artist.zip %></td>  
  	<td><%= artist.country %></td>  
  	<td>(<%= artist.area_code %>) <%= artist.phone_number %></td>
	<td><%#= artist.date_of_birth %></td>
	<td><%#= artist.date_deceased %></td> 
	
    <td><%= link_to 'Show', artist %></td>
    <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
    <td><%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Artist', new_artist_path %>
