<!--
  # Show page for artists
  #Chris Cruz, Muhammad Naviwala
  #Date Approved: 4/22/2013 by Chris Cruz & Muhammad Naviwala 
-->

<p id="notice"><%= notice %></p>

<p>
  <b>Date of birth:</b>
  <%= @artist.date_of_birth %>
</p>

<p>
  <b>Date deceased:</b>
  <%= @artist.date_deceased %>
</p>


<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
