
<h1>Artwork</h1>

<table class = "table table-bordered table-striped">
  <tr>
	<th>Artist</th>
    <th>Title</th>
    <th>Medium</th>
    <th>Description</th>
    <th>Copy</th>
    <th>Acquisition price</th>
    <th>Asking price</th>
    <th>Date acquired</th>
    <th>Date sold</th>
    <th>Img url</th>
	
	<% if is_employee? || is_owner? %>
	    <th>Show</th>
	    <th>Edit</th>
	    <th>Destroy</th>
	<% end %>
	
  </tr>

<% @works.each do |work| %>
  <tr>
    <td><%= work.artist.first_name %> <%= work.artist.last_name %></td>
    <td><%= work.title %></td>
    <td><%= work.medium %></td>
    <td><%= work.description %></td>
    <td><%= work.copy %></td>
    <td><%= work.acquisition_price %></td>
    <td><%= work.asking_price %></td>
    <td><%= work.date_acquired %></td>
    <td><%= work.date_sold %></td>
    <td><%= work.img_url %></td>
	<% if is_employee? || is_owner? %>
	    <td><%= link_to 'Show', work %></td>
	    <td><%= link_to 'Edit', edit_work_path(work) %></td>
	    <td><%= link_to 'Destroy', work, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />

<% if is_owner? || is_employee?%>
	<%= link_to 'New Work', new_work_path %>
<% end %>