<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="span6 offset3">
	  <div class="field">
	    <%= f.label :customer_id %><br />
	    <%= f.text_field :customer_id %>
	  </div>
	  <div class="field">
	    <%= f.label :work_id %><br />
	    <%= f.text_field :work_id %>
	  </div>
	  <div class="field">
	    <%= f.label :sales_price %><br />
	    <%= f.text_field :sales_price %>
	  </div>
	  <div class="actions">
	    <%= f.submit "Process Transaction", class: "btn btn-large btn-primary" %>
	  </div>
  </div>
</div>
<% end %>
