<<<<<<< HEAD

<h1> Works for <%= @artist.last_name %>, <%= @artist.first_name %> </h1>

<table>
	<tr>
		<th>Title</th>
		<th>Medium</th>
		<th>Description</th>
	</tr>
	<% @artist.works.each do |k| %>
	<tr>
		<td><%= k.title %></td>
		<td><%= k.medium %></td>
		<td><%= k.description %></td>
	</tr>
	<% end %>
</table>

=======
>>>>>>> ef706017d944d149dcb863e08264a570689a8423
<% unless @artists.blank?  %>
<h2><%= @artists.first.first_name.titleize %> <%= @artists.first.last_name.titleize %></h2>
	<table>
		<tr>
			<th>Title</th>
			<th>Medium</th>
			<th>Description</th>
		</tr>
		<% @artists.first.works.each do |k| %>
		<tr>
			<td><%= link_to k.title, show_customer_work_path(k) %></td>
			<td><%= k.medium %></td>
			<td><%= k.description %></td>
		</tr>
		<% end %>
	</table>
<% else %>
<h2>Artist not found!<h2>
<% end %>
<<<<<<< HEAD
=======

>>>>>>> ef706017d944d149dcb863e08264a570689a8423
