<!--
  # reports page
  #Reports => Joel Loucks & Chris Berkowitz 
  #Chris Cruz => Sytling
  #Date Approved: 4/22/2013 by Chris Cruz & Muhammad Naviwala 
-->

<h1> Works for <%= @artist.last_name %>, <%= @artist.first_name %> </h1>

<table>
	<tr>
		<th>Title</th>
		<th>Medium</th>
		<th>Description</th>
	</tr>
	<% @artist.works.each do |k| %>
	<tr>
		<td><%= k.title %></td>
		<td><%= k.medium %></td>
		<td><%= k.description %></td>
	</tr>
	<% end %>
</table>