<h1>Speed of Sale Report!</h1>
<table>
	<tr>
		<th>Work ID</th>
		<th>Artist ID</th>
		<th>Date Acquired</th>
		<th>Date Sold</th>
		<th>Asking Price</th>
		<th>Sales Price</th>
		<th>Profit</th>
	</tr>
	<% @works.each do |k| %>
	<tr>
		<td><%= k.id %></td>
		<td><%= k.artist_id %></td>
		<td><%= k.date_acquired %></td>
		<td><%= k.date_sold %></td>
		<td><%= k.asking_price%></td>
	</tr>
	<% end %>
</table>