<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "TEAM5OAGS", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Gallery", gallery_path %></li>
          <li><%= link_to "Testimonials", testimonials_path %></li>
		  
		  <% if is_dba? %>
          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Create Accounts <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Create Customer", '#' %></li>
              <li><%= link_to "Create Employee", '#'%></li>
			  <li><%= link_to "Create Artist", '#'%></li>
              </ul>
		  <% end %>
		  
		  <% if is_owner? %>
          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              View Reports <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Customer Report", '#' %></li>
              <li><%= link_to "Artist Report", '#'%></li>
			  <li><%= link_to "Customer Artist Preferences Report", '#'%></li>
			  <li><%= link_to "Past Purchase Report", '#'%></li>
			  <li><%= link_to "Past Purchase Artowrk Location Report", '#'%></li>
			  <li><%= link_to "Artist & Works Report", '#'%></li>
			  <li><%= link_to "Speed of Sale Report", '#'%></li>
			  <li><%= link_to "Current Inventory Report", '#'%></li>
              </ul>
		  <% end %>
		  
		  <% if is_employee? %>
          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              View Reports <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Customer Report", '#' %></li>
              <li><%= link_to "Artist Report", '#'%></li>
			  <li><%= link_to "Customer Artist Preferences Report", '#'%></li>
			  <li><%= link_to "Past Purchase Report", '#'%></li>
			  <li><%= link_to "Past Purchase Artowrk Location Report", '#'%></li>
              </ul>
		  <% end %>
		  
		  <% if is_customer? %>
          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              View Reports <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Request Artist & Works Report", '#' %></li>
              <li><%= link_to "Request Current Inventory Report", '#'%></li>
              </ul>
		  <% end %>
		  
		  
		  
		  
      <% if signed_in? %>
      <li id="fat-menu" class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
          	Account <b class="caret"></b>
		</a>
        <ul class="dropdown-menu">
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Settings", edit_user_path(current_user) 					%></li>
          <li class="divider"></li>
        <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
	</ul>
      <% else %>
		  <li><%= link_to "Sign In", signin_path %></li>
      <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>